<div class="d-flex">
<!-- Sidebar -->

  <div class="bg-dark border-right p-3" id="sidebar">
   <h3 class="text-light">
     GifsApp
    </h3>
<hr class="text-white">
   <div class="list-gropup list-reset">

    <a href="#" class="list-group-item list-group-item-action">
      Dashboard
    </a>
   </div>
  </div>
  <!-- endSidebar -->

  <div class="container">
    <div class="row p-3">

<div class="col">
  <h5>Buscar:</h5>
  <input type="text" class="form-control" placeholder="Buscar gifs...">
</div>
</div>
<hr />


<div class="row">
  <div class="col">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum ratione maxime aliquid! Tempore laborum sed quidem dolores quibusdam nobis necessitatibus? Neque sed deserunt dolores minima asperiores accusamus officia quam velit.
  </div>

</div>
  </div>

</div>
